
{% extends 'layout.html'%}
{% set name='About' %}
{% block link %}
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_about.css') }}">
{% endblock %}
{% block content %}
		<div class="main-content">
			<div>
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				  </ol>
			  
				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
					<div class="item active">
						<img src="{{ url_for('static',filename='images/chocolate-paan.jpg') }}">
					</div>
			  
					<div class="item">
						<img src="{{ url_for('static',filename='images/paan-images/10.jpg') }}">
					</div>
				  
					<div class="item">
						<img src="{{ url_for('static',filename='images/mawa_paan.jpg') }}">
					</div>
				  </div>
				</div>
			  </div>
			  
		</div>
		<div class="main-content-1">
			<h2>"The true joy in life is eating paan and enjoying bliss..."</h2>
			<p id="socrates"> ~ Socrates</p>
			<p class="description">
				&nbsp&nbsp Our website brings to its Users a really unique perspective of delivering Paan with the ease of a single button to your location.<br>
				&nbsp&nbsp We also take exceptional pride in providing the most impeccable Customer Support, providing with a vast range of assorted flavours of Paan, handcrafted by the most skilled Paan makers in India, thus assuring you uncomparable quality and hygiene standards at the same time never compromising on our traditional flavours.
				</p>
		</div>
{% endblock content%}