{% extends 'layout.html'%}
{% set name='Contact' %}
{% set filename='style_contact.css' %}
{% block content %}
		<div id="contact" class="pull-left">
			<form method="POST" action="" autocomplete="off">
				<h2>Submit Feedback</h2>
				{{form.hidden_tag()}}
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{category}}">	
						{{message}}
					</div>
				{% endfor %}
				{% endif %}
				{% endwith %}

				{% if form.username.errors %}
					{{form.username(placeholder="Username" ,class="is-invalid")}}
					<div class="invalid-feedback">
						{% for error in form.username.errors %}
							<span>{{error}}</span>
						{% endfor %}
					</div>
				{% else %}
				{{form.username(placeholder="Username")}}
				{% endif %}

				{% if form.email.errors %}
					{{form.email(placeholder="Email Id" ,class="is-invalid")}}
					<div class="invalid-feedback">
						{% for error in form.email.errors %}
							<span>{{error}}</span>
						{% endfor %}
					</div>
				{% else %}
				{{form.email(placeholder="Email Id")}}
				{% endif %}
				
				{% if form.feedback.errors %}
					{{form.feedback(placeholder="Feedback", class="is-invalid")}}
					<div class="invalid-feedback">
						{% for error in form.feedback.errors %}
							<span>{{error}}</span>
						{% endfor %}
					</div>
				{% else %}
				{{form.feedback(placeholder="Feedback")}}
				{% endif %}
				{{form.submit}}
			</form>
		</div>

		<div id="others" class="pull-left">
			<div id="testimonials">
				<h2>Customer Reviews</h2>
				<p>
					"Best Service Ever!!"
				</p>
				<p>
					"Food quality is brilliant"
				</p>
				<p>
					"Chuna Lagake is a great initiative. I am looking forward to enjoying paan more often"
				</p>
			</div>

			<div id="footer" class="">
				<ul>
					<li>
						<h3>Phone:</h3>
						<span>9594998272</span><span>9930129844</span>
					</li>
					<li>
						<h3>Email:</h3>
						<span>info@gmail.com</span>
					</li>
				</ul>
			</div>	
		</div>
{% endblock content%}
