{% extends 'layout.html'%}
{% set name='Chuna Lagake' %}
{% block link %}
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_home.css') }}">
{% endblock %}


{% block content %}
	{% if current_user.is_authenticated %}
		<h2>Hello <b style="color: #fff;">{{current_user.username}}</b></h2>
	{% endif %}
	<h1>We are Chuna Lagake</h1>
	<h2>We serve the Paan with Shaan</h2>
	<a href="{{url_for('products')}}"><h1>Buy Now</h1></a>
{% endblock content%}

