{% extends 'layout.html'%}
{% set name='Products' %}
{% block link %}
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_item.css') }}">
{% endblock %}


{% block content %}
    <div id='card'>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}}">	
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <img src="{{ url_for('static',filename='images/paan-images/' + key + '.jpg') }}" alt="img8">
        <span id='text'>
            <div id='name'>
                <span id='heading'>{{item.name}}</span>
            </div>
            <div id='description'>
                {{item.description}}
            </div>
            <div>
                <a href="{{url_for('buy', key_id = item.id)}}"><h1>Buy Now</h1></a>
            </div>
        </span>
            {% if ratings %}
            <div id="rate">
                <h3>Please Rate This Dish</h3>
                <div class="box">
                    <a class="b1" href="{{url_for('rate', key_id = item.id, star = '5')  }}">
                        <ion-icon name="star"></ion-icon>
                    </a>
                    <a class="b2" href="{{url_for('rate', key_id = item.id, star = '4')  }}">
                        <ion-icon name="star"></ion-icon>
                    </a>
                    <a class="b3" href="{{url_for('rate', key_id = item.id, star = '3')  }}">
                        <ion-icon name="star"></ion-icon>
                    </a>
                    <a class="b4" href="{{url_for('rate', key_id = item.id, star = '2')  }}">
                        <ion-icon name="star"></ion-icon>
                    </a>
                    <a class="b5" href="{{url_for('rate', key_id = item.id, star = '1')  }}">
                        <ion-icon name="star"></ion-icon>
                    </a>
                </div>
            </div>
            {% endif %}
    </div>
    <script src="https://unpkg.com/ionicons@5.1.0/dist/ionicons.js"></script>
{% endblock content%}