{% extends 'layout.html'%}
{% set name='Login' %}
{% block link %}
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_login.css') }}">
{% endblock %}
{% block content %}

		<div class="signin">
			<form method="POST" action="" autocomplete="off">
				{{form.hidden_tag()}}
				<h2>Log In</h2>
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{category}}">	
						{{message}}
					</div>
				{% endfor %}
				{% endif %}
				{% endwith %}
				
				{% if form.email.errors %}
					{{form.email(placeholder="Email Id" ,class="is-invalid")}}<br>
					<div class="invalid-feedback">
						{% for error in form.email.errors %}
							<span>{{error}}</span>
						{% endfor %}
					</div>
				{% else %}
					{{form.email(placeholder="Email Id")}}<br>
				{% endif %}

				{% if form.password.errors %}
					{{form.password(placeholder="Password", class="is-invalid")}}<br>
					<div class="invalid-feedback">
						{% for error in form.password.errors %}
							<span>{{error}}</span>
						{% endfor %}
					</div>
				{% else %}
					{{form.password(placeholder="Password")}}<br>
				{% endif %}

				<div class="form-check">
					{{form.remember(class="form-check-input")}}
					{{form.remember.label(class="form-check-label")}}
				</div>
				
				{{form.submit}}

			</form>
			<div class="forgot-credentials">
				<a href="{{url_for('forgot_pass')}}" class="forgot-password">Forgot Password?</a>
				<p class="message-box">Not a Registered User?<a href="{{url_for('signup')}}">Sign Up</a></p>
				<p id="copyright"><a href="#">&copy; ChunaLagake.com</a></p>
			</div>
		</div>	
{% endblock content%}

