{% extends 'layout.html'%}
{% set name='Signup' %}
{% set filename='style_signup.css' %}
{% block content %}
		<div class="register">
			<form method="POST" action="" autocomplete="off">
				{{form.hidden_tag()}}
				<h2>Sign Up</h2>

				
				{% if form.username.errors %}
					{{form.username(placeholder="Username" ,class="is-invalid")}}<br>
					<div class="invalid-feedback">
						{% for error in form.username.errors %}
							<span>{{error}}</span>
						{% endfor %}
					</div>
				{% else %}
					{{form.username(placeholder="Username")}}<br>
				{% endif %}
				
				{% if form.email.errors %}
					{{form.email(placeholder="Email Id" ,class="is-invalid")}}<br>
					<div class="invalid-feedback">
						{% for error in form.email.errors %}
							<span>{{error}}</span>
						{% endfor %}
					</div>
				{% else %}
					{{form.email(placeholder="Email Id")}}<br>
				{% endif %}

				{% if form.password.errors %}
					{{form.password(placeholder="Password", class="is-invalid")}}<br>
					<div class="invalid-feedback">
						{% for error in form.password.errors %}
							<span>{{error}}</span>
						{% endfor %}
					</div>
				{% else %}
					{{form.password(placeholder="Password")}}<br>
				{% endif %}
	
				{% if form.confirm_password.errors %}
					{{form.confirm_password(placeholder="Confirm Password", class="is-invalid")}}<br>
					<div class="invalid-feedback">
						{% for error in form.confirm_password.errors %}
							<span>{{error}}</span>
						{% endfor %}
					</div>
				{% else %}
					{{form.confirm_password(placeholder="Confirm Password")}}<br>
				{% endif %}
				
				<div id="terms">
					<span>Do you agree to our Terms and Conditions?</span>
					<input type="checkbox" id="checkbox">
				</div>
				{{form.submit}}

			</form>
			<div class="message-box">
				<p class="Login-redirect"><a href="/login">Login to ChunaLagake</a></p>
				<p  class="copyright"><a href="#">&copy; ChunaLagake.com</p></a>
			</div>
		</div>
{% endblock content%}