
{% extends 'layout.html'%}
{% set name='Terms and Conditions' %}
{% block link %}
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_about.css') }}">
{% endblock %}
{% block content %}
		<div class="main-content-1">
            <h1>Terms and Conditions</h1>
			<p class="description">
                This is the ChunaLagake Team and we regret to inform you that we as such do not have any partnership with any available paan vendors in India as of now and not in the foreseeable future<br>
                We also regret to inform you that the products mentioned in our Products Page are completely works of our imagination, and we do not condone or endorse the act of eating Paan in any way whatsoever<br>
                We apologise to the inconvenience faced by our users and also hereby inform you that this website was created by the founders just to understand the basic concepts of Web Development and Design, Various Backend Frameworks and Basic Recommendation Engines<br>
                We also assure our users that we do not provide user data to third party companies, institutions or organizations, and all their login and signup details are hashed and encrypted before getting added to our database.<br>
                It is also hereby informed that ChunaLagake would not be held responsible for any fake calls, emails or hoax vendors pretending to be us<br>
            </p>
		</div>
{% endblock content%}
