#contact, #others {
	background-color: #333;
	margin: 5px;
	width: 30%;
	height: 400px;
	padding: 20px 10px; 
	opacity: 0.6;
}

.alert {
	padding: 2px;
	margin-bottom: -5px;
	margin-top: -5px
	;
}

form h2, #others h2  {
	color: #fff;
	margin-bottom: 20px;
	font-size: 3em;
}

form input, form textarea {
	width: 70%;
	display: block;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 5px 0;
	background-color: transparent;
	border:none;
	border-bottom: 1px #fff solid;
	font-size: 1.5em;
	color: #fff;
}

form textarea {
	resize: none;
	cursor: default;
}

form textarea::-webkit-scrollbar {
    width: 8px;
}
 
form textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
form textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #fff;
}

form textarea::-webkit-scrollbar-thumb:hover,form textarea::-webkit-scrollbar-thumb:active {
	background-color: #aaa;
}

form textarea::-webkit-resizer {
	display: none;
}

form input:focus , form textarea:focus{
	outline: none;
}

#submit {
	border:1px #fff solid;
	width: 30%;
}

#submit:hover{
  	padding: 10px 10px;
  	transition: 0.3s;
}

.invalid-feedback {
	margin-top: -10px;
	margin-bottom: -10px;
}

.invalid-feedback span {
	color: tomato;
	font-style: bold italic;
	font-size: 1em;
}

#contact {
	margin-left: 20%;
}

#others {
	color: #fff;
}


#testimonials p {
	font-style: italic;
	font-size: 1.2em;
}

#footer {
	color: #fff;
}
#footer h3 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 2em;
}

#footer li {
	list-style: none;
	margin-bottom: 5px;
	font-size: 1.2em;
}

#footer span {
	margin: 2px 5px;
}


@media(max-width: 1150px) {
	form h2, #others h2 {
		font-size: 1.8em;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	#footer h3 {
		font-size: 1.3em;
	}

	#testimonials p {
		margin-top: -10px;
	}

	#contact, #others {
		background-color: #333;
		width: 40%;
		margin: 5px;
		height: 360px;
		padding: 8px 8px; 
	}

	#contact {
		margin-left: 10%;
	}

}

@media(max-width: 800px) {
	form h2, #others h2 {
		display: none;
	}

	#testimonials {
		padding-top: 20px;
	}

	#contact, #others {
		height: 320px;
	}

	#footer h3 {
		font-size: 1em;
		margin: 0;

	}

	#footer span {
		font-size: 0.8em;
	}

	form input, form textarea {
		font-size: 1.2em;
	}

	#submit {
		width: 85px;
	}

}


@media(max-width: 500px){
	#contact, #others {
		clear: both;
		margin: auto;
		width: 75%;
		margin-left: 12.5%;
		height: 280px;
		margin-bottom: 10px; 
		padding: 0;
	}

	#submit {
		font-size: 1.2em;
		margin-top: -5px;
	}

}

@media(max-width: 500px) and (max-height:800px) {
	#others{
		height: 200px;
	}

	#contact {
		height: 260px;
	}

	#testimonials p:nth-child(4){
		display: none;
	}
}

@media(max-width: 500px) and (max-height:600px) {
	form textarea {
		height: 35px;
	}

	#contact {
		height: 235px;
		margin-bottom: 5px;
	}

	body #main-content {
		margin-top: 30px;
	}
}

@media(max-width:550px) {
	.alert {
		font-size: 0.8em;
		margin-bottom: -5px;
	}
}