<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>About</title>
<!-- Include necessary css files here -->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<link rel="stylesheet" href="../stylesheets/styles.css">

	<link rel="stylesheet" href="../stylesheets/style_about.css">


<!--Include Fonts -->
</head>
<body>
	<header>
		<div id="title" class="container-fluid">
			<div class="navbar-header">
				<div class="side">
					<ul>
						<li>
							<a href="home.html">
							<span class="glyphicon glyphicon-home"></span><span>Home</span>
							</a>							
						</li>
						<li>
							<a href="products.html">
							<span class="glyphicon glyphicon-cutlery"></span><span>Products</span>
							</a>							
						</li>
						<li>
							<a href="about.html"
							class="active">
							<span class="glyphicon glyphicon-info-sign"></span><span>About</span></a>
						</li>
						<li>
							<a href="contact.html">
							<span class="glyphicon glyphicon-phone"></span><span>Contact Us</span>
							</a>							
						</li>
						<li>
							<a href="login.html">
							<span class="glyphicon glyphicon-log-in"></span><span>Login</span>
							</a>
						</li>	
					</ul>
				</div>
			</div>
		</div>		

	</header>
	<div id="main-content">
		<div class="main-content">
			<div class="slidershow middle">
				<div class="slides">
					<input type="radio" name="r" id="r1" checked="">
					<input type="radio" name="r" id="r2">
					<input type="radio" name="r" id="r3">

					<div class="slide s1">
						<img src="../images/chocolate-paan.jpg">
					</div>
					<div class="slide">
						<img src="../images/meetha_paan.jpg">
					</div>
					<div class="slide">
						<img src="../images/mawa_paan.jpg">
					</div>
				</div>
				<div class="image-navigation">
					<label for="r1" class="bar"></label>
					<label for="r2" class="bar"></label>
					<label for="r3" class="bar"></label>
				</div>
			</div>
		</div>
		<div class="main-content-1">
			<h2>"The true joy in life is eating paan and enjoying bliss..."</h2>
			<p id="socrates"> ~ Socrates</p>
			<p class="description">
				&nbsp&nbsp Our website brings to its Users a really unique perspective of delivering Paan and other non-tobacco products with the ease of a single button to your location.<br>
				&nbsp&nbsp We also take exceptional pride in providing the most impeccable Customer Support and Service and providing with a vast range of assorted flavours of Paan, handcrafted by the most skilled and Paan makers in India, thus assuring you uncomparable quality and hygiene standards at the same time never compromising on our traditional flavours.
				</p>
		</div>
	</div>
	
<!-- Necessary Java files -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="js/script.js"></script>

</body>
</html>